.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    padding: 0;
    left: 0;
    top: 0;
}

.dialogue {
    position: fixed;
    background-color: white;
    padding: 50px;
}